*.elf
*.bin
*.hex
*.exe
*.out

*.o
*.d
*.a
*.dep

.vscode/
*.code-workspace

.pio/
.pioenvs/
.build/

*.sdf
*.suo
*.user
*.ncb
*.opensdf

*.log
*.tmp
*.bak
*.swp

*.zip
*.tar.gz
*.tar
*.gz

/src/Settings.cpp
